<div class="card">
  <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
      </ng-template>
      <ng-template pTemplate="end" let-item let-root="root">
          <a pRipple class="flex align-content-end flex-wrap p-menuitem-link"
            routerLinkActive="active"
            >
              <span class="flex align-items-center" [class]="item.icon"></span>
              <span class="ml-2 flex align-items-center">{{ item.label }}</span>
          </a>
      </ng-template>
      <ng-template pTemplate="end">
        <p-button label="Ver Currículum" [routerLink]="['/cv']" />

        <p-button [icon]="isDark ? 'pi pi-sun' : 'pi pi-moon'"  severity="secondary" class="ml-4" (click)="toggleTheme()" />

      </ng-template>
  </p-menubar>
</div>
