<app-header />

<div class="text-center mt-8">
  <h2>Mis proyectos desarrollados</h2>

  <div class="card mt-5">
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex items-center gap-1">
          <a href="https://aloharestobar.com" target="_blank" class="no-underline">
            <h3 class="font-bold my-1">aloharestobar.com</h3>
          </a>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2 flex-wrap">
            <img height="24" width="24" src="https://cdn.simpleicons.org/angular/FD31D1/white" pTooltip="Angular"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/primeng/DD0031/white" pTooltip="PrimeNG"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/tailwindcss/06B6D4/white"
              pTooltip="Tailwindcss" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/nodedotjs/5FA04E/white" pTooltip="Node.js"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/socketdotio/010101/white" pTooltip="Socket.io"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/express/black/white" pTooltip="Express"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/mongoose/880000/white" pTooltip="Mongoose"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/mongodb/47A248/white" pTooltip="MongoDB"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/nginx/009639/white" pTooltip="Nginx proxy"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/letsencrypt/003A70/white"
              pTooltip="Let's encrypt" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/github/181717/white" pTooltip="Github"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/digitalocean/0080FF/white"
              pTooltip="Digital Ocean" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/ubuntu/E95420/white" pTooltip="Ubuntu Linux"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/cloudflare/F38020/white" pTooltip="Cloudflare"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/netlify/00C7B7/white" pTooltip="Netlify"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/pwa/5A0FC8/white" pTooltip="PWA"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/googlemaps/4285F4/white" pTooltip="Google Maps"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/cloudinary/3448C5/white" pTooltip="Cloudinary"
              tooltipPosition="bottom" />
          </div>
        </div>
      </ng-template>

      <p class="mb-4 text-left">
        Aloharestobar.com es una plataforma de gestión de pedidos, comandas y almacén para el restobar Aloha, ubicado en
        la ciudad de Ayacucho. El proyecto se estructura en 2 partes, una lading page <i>(para el público)</i> y el
        sistema de gestión <i>(para el personal del restobar)</i> que permite controlar todo el flujo de trabajo.
      </p>
      <p-image src="../../../../assets/imgs/aloha.png" alt="Image" width="350" [preview]="true" />
    </p-panel>
  </div>

  <div class="card mt-5">
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex items-center gap-1">
          <a href="https://acllabay.com" target="_blank" class="no-underline">
            <h3 class="font-bold my-1">acllabay.com</h3>
          </a>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2 flex-wrap">
            <img height="24" width="24" src="https://cdn.simpleicons.org/angular/FD31D1/white" pTooltip="Angular"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/primeng/DD0031/white" pTooltip="PrimeNG"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/tailwindcss/06B6D4/white"
              pTooltip="Tailwindcss" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/nodedotjs/5FA04E/white" pTooltip="Node.js"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/express/black/white" pTooltip="Express"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/axios/5A29E4/white" pTooltip="Axios"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/mongoose/880000/white" pTooltip="Mongoose"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/mongodb/47A248/white" pTooltip="MongoDB"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/nginx/009639/white" pTooltip="Nginx proxy"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/letsencrypt/003A70/white"
              pTooltip="Let's encrypt" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/github/181717/white" pTooltip="Github"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/digitalocean/0080FF/white"
              pTooltip="Digital Ocean" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/ubuntu/E95420/white" pTooltip="Ubuntu Linux"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/cloudflare/F38020/white" pTooltip="Cloudflare"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/hotjar/FF3C00/white" pTooltip="Hotjar"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/netlify/00C7B7/white" pTooltip="Netlify"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/pwa/5A0FC8/white" pTooltip="PWA"
              tooltipPosition="bottom" />
            <img height="20" width="20" src="https://cdn.simpleicons.org/whatsapp/25D366/white" pTooltip="WhatsApp"
              tooltipPosition="bottom" />
          </div>
        </div>
      </ng-template>

      <p class="mb-4 text-left flex items-center">
        Acllabay.com es una plataforma de seguimiento de precios de los principales ecommerces peruanos, asimismo es un
        comparador de precios y un sistema de alertas mediante WhatsApp cuando cambien los precios de tus productos. El
        desarrollo de esta plataforma surge como una solución a la necesidad de los clientes de ahorrar tiempo y dinero
        en sus compras online.
      </p>
      <p-image src="../../../../assets/imgs/acllabay.png" alt="Image" width="350" [preview]="true" />
    </p-panel>
  </div>

  <div class="card mt-5">
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex items-center gap-1">
          <a href="https://tugrass.com" target="_blank" class="no-underline">
            <h3 class="font-bold my-1">tugrass.com</h3>
          </a>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2 flex-wrap">
            <img height="24" width="24" src="https://cdn.simpleicons.org/angular/FD31D1/white" pTooltip="Angular"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/tailwindcss/06B6D4/white"
              pTooltip="Tailwindcss" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/nodedotjs/5FA04E/white" pTooltip="Node.js"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/socketdotio/010101/white" pTooltip="Socket.io"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/express/black/white" pTooltip="Express"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/mongoose/880000/white" pTooltip="Mongoose"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/mongodb/47A248/white" pTooltip="MongoDB"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/nginx/009639/white" pTooltip="Nginx proxy"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/letsencrypt/003A70/white"
              pTooltip="Let's encrypt" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/github/181717/white" pTooltip="Github"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/digitalocean/0080FF/white"
              pTooltip="Digital Ocean" tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/ubuntu/E95420/white" pTooltip="Ubuntu Linux"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/netlify/00C7B7/white" pTooltip="Netlify"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/googlemaps/4285F4/white" pTooltip="Google Maps"
              tooltipPosition="bottom" />
          </div>
        </div>
      </ng-template>

      <p class="mb-4 text-left flex items-center">
        Tugrass.com es una plataforma cuya finalidad es ser un puente entre los amantes del deporte y las canchas que
        ofrecen sus servicios, se desarrolló con la principal idea de modernizar la forma de reservar y gestionar las
        canchas deportivas. El desarrollo de esta plataforma surge como una solución al problema que afrontan muchas
        instalaciones deportivas en gestionar sus reservas y asimismo clientes que se didifucltan en encontrar una
        cancha perfecta para practicar sus deportes favoritos.
      </p>
      <p-image src="../../../../assets/imgs/tugrass.png" alt="Image" width="350" [preview]="true" />
    </p-panel>
  </div>

  <div class="card mt-5">
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex items-center gap-1">
          <a href="https://proyecto-estadistica2.netlify.app/#/inicio/home-medias" target="_blank" class="no-underline">
            <h3 class="font-bold my-1">Simulador de inferencia estadística</h3>
          </a>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <img height="24" width="24" src="https://cdn.simpleicons.org/angular/FD31D1/white" pTooltip="Angular"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/bootstrap/7952B3/white" pTooltip="Bootstrap"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/netlify/00C7B7/white" pTooltip="Netlify"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/latex/008080/white" pTooltip="LaTeX"
              tooltipPosition="bottom" />
            <img height="24" width="24" src="https://cdn.simpleicons.org/github/181717/white" pTooltip="Github"
              tooltipPosition="bottom" />
          </div>
        </div>
      </ng-template>

      <p class="mb-4 text-left flex items-center">
        Este trabajo se desarrolló para el curso de Inferencia Estadídistica (ES-244), con la finalidad de ayudar a los
        estudiantes que no tienen claro qué tipo de distribución utilizar en un ejercicio dado, el proyecto proporciona
        una interfaz intuitiva para la fácil utilización, asimismo, se incluyó una parte teórica de inferencia
        estadídistica, un formulario y las tablas de probabilidad.
      </p>
      <p-image src="../../../../assets/imgs/estadistica.png" alt="Image" width="350" [preview]="true" />
    </p-panel>
  </div>
</div>

<div class="flex justify-content-center py-5">
  <p-button label="Contáctame" [rounded]="true" severity="contrast" icon="pi pi-arrow-right" iconPos="right"
    [routerLink]="['/contact']" />
</div>
