<app-header></app-header>

<div class="flex justify-content-center align-items-center flex-wrap" style="min-height: 90vh;">
    <div class="col-10">
        <p class="text-primary text-xl fw-bold">Hola, mi nombre es</p>

        <h1 style="font-size: 5rem" class="my-0">Dino Roca Laurente.</h1>
        <h1 class="text-400 my-1">Desarrollo aplicaciones para la web.</h1>

        <div class="col-9">
            <p>
                Soy un desarrollador especializado en la creación y diseño de
                experiencias digitales excepcionales. Actualmente, me centro en la
                creación y desarrollo de aplicaciones web, atractivas, intuitivas y
                accesibles en el
                <b class="text-primary">
                    <a href="https://www.selectagenetica.com/" target="_blank"
                        style="text-decoration: none; color: var(--primary-color);">
                        Gupo Selecta
                    </a>
                </b>.
            </p>
        </div>

        <p-button label="Contáctame !" class="fw-bold" size="large" severity="contrast" [outlined]="true" rounded="true" />
    </div>
</div>

<div class="flex justify-content-center align-items-center flex-wrap">

    <div class="col-10">
        <h1>Acerca de mí</h1>
    </div>
</div>