<app-header></app-header>

<div class="flex justify-content-center align-items-center flex-wrap" style="min-height: 100vh">
    <div class="col-10">
        <p class="text-primary text-xl fw-bold">Hola, mi nombre es</p>

        <h1 style="font-size: 5rem" class="my-0">Dino Roca Laurente.</h1>
        <h1 class="text-400 my-1">Desarrollo aplicaciones para la web.</h1>

        <div class="col-9 mb-5">
            <p>
                Soy un desarrollador especializado en la creación y diseño de
                experiencias digitales excepcionales. Actualmente, me centro en la
                creación y desarrollo de aplicaciones web, atractivas, intuitivas y
                accesibles en el
                <b class="text-primary">
                    <a href="https://www.selectagenetica.com/" target="_blank"
                        style="text-decoration: none; color: var(--primary-color)">
                        Gupo Selecta
                    </a> </b>.
            </p>
        </div>

        <p-button label="Contáctame !" class="fw-bold" size="large" severity="contrast" [outlined]="true"
            rounded="true" />
    </div>
</div>

<div class="flex justify-content-center align-items-center flex-wrap">
    <div class="col-10">
        <h1>Acerca de mí</h1>

        <div class="grid">
            <div class="col-12 md:col-9">
                <p>
                    Mi nombre es Dino Roca y disfruto creando cosas que viven en Internet.
                    Mi interés por el desarrollo web comenzó en 2019, cuando decidí estudiar
                    la carrera de Ingeniería de Sistemas en la Universidad Nacional de San
                    Cristóbal de Huamanga (UNSCH). <br />

                    Resulta que desarrollar proyectos como Hobby me ayudaron a conocer
                    muchas tecnologías que uso actualmente. He tenido el privilegio de
                    trabajar en proyectos personales, grupales, una empresa emergente y
                    actualmente me encuentro trabajando para el
                    <b class="text-primary">
                        <a href="https://www.selectagenetica.com/" target="_blank"
                            style="text-decoration: none; color: var(--primary-color)">
                            Gupo Selecta
                        </a> </b>, en su división
                    <b class="text-primary">
                        <a href="https://www.segael.com/" target="_blank"
                            style="text-decoration: none; color: var(--primary-color)">
                            Segael Code International
                        </a>
                    </b>
                    donde ocupo el cargo de desarrollador web fullstack y desarrollamos
                    aplicaciones a medida para las necesidades del grupo.

                    <br>
                </p>

                <h4>Estas son algunas de las tecnologías con las que trabajo:</h4>

                <div class="flex justify-content-evenly flex-wrap py-5">
                    <img height="32" width="32" src="https://cdn.simpleicons.org/angular/FD31D1/white"/>
                    <img height="32" width="32" src="https://cdn.simpleicons.org/typescript/3178C6/white"/>
                    <img height="32" width="32" src="https://cdn.simpleicons.org/javascript/F7DF1E/white"/>
                    <img height="32" width="32" src="https://cdn.simpleicons.org/nodedotjs/5FA04E/white"/>
                    <img height="32" width="32" src="https://cdn.simpleicons.org/jsonwebtokens/000000/white"/>
                    <img height="32" width="32" src="https://cdn.simpleicons.org/mongodb/47A248/white"/>
                    <img height="32" width="32" src="https://cdn.simpleicons.org/digitalocean/0080FF/white"/>
                </div>

            </div>

            <div class="col-12 md:col-3 flex justify-content-center flex-wrap">
                <p-image src="../../../../assets/imgs/profile.jpg" alt="Image" width="200" />
            </div>
        </div>
    </div>
</div>